.fondoweather{
  background-image: url(../../../../assets/Weather/grafiti.jpg);
  background-size: cover;
  overflow-y: auto;
  height: 100vh;

}

mat-toolbar {
  background-image: url(../../../../assets/Weather/paredladrillo.jpg);
  justify-content: center;
}

#titulo {
margin-top: 10px;

}

.container-with-margin {
  margin-left: 30px;
  margin-right: 30px;
}

#home {
  background: linear-gradient(to right, rgb(253, 229, 9), rgb(237, 141, 39));
  ;
}

.logo-container {
  max-width: 100%;
  height: auto;
}

.logo-img {
  display: block;
  max-width: 100%;
  height: auto;
 }
