<body>
  <app-navBar></app-navBar>
  <div class="px-4 pt-5 my-5 text-center text-light">
    <h1 class="display-4 ">restaurar base de datos</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        <strong>¡Atención!</strong>
        <br>
        Se llevara a cabo una restauración de la base de datos. Este proceso implica reemplazar la base de datos actual
        con una copia de seguridad anterior.
        Este proceso es irreversible.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button class="btn btn-danger" (click)="restoreDataBase" >Confirmar</button>      </div>
    </div>
  </div>
</body>
