

body {

  background-image: linear-gradient(to right, #992424, #1d1212, #000000, #0c0808, #0f0f5a);
  height: 100vh;
  justify-content: center;

}

.container {
  background-color: #222;
  color: white;
  height: auto;}

