<div id="flechas" class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 d-flex justify-content-center">
      <button id="up" class="btn bg-primary justify-content-center align-items-center">
        <strong>▲</strong>
      </button>
    </div>
    <div class="col-12 horizontal-center">
      <button id="right" class="btn bg-primary">
        ◀
      </button>
      <button id="left" class="btn bg-primary">
        ▶
      </button>

    </div>
    <div class="col-12">
      <button id="down" class="btn bg-primary text-center">
        ▼
      </button>
    </div>
  </div>
</div>
