<div class="modal-container">
  <div class="modal-content container">
    <div class="row align-items-center">
      <div class="col-md-6 col-12">
        <div>
          <h1>Nombre: <strong>{{ fighter.name }}</strong></h1>
          <h2>Id: <strong>{{ fighter.id }}</strong></h2>
          <h3>País de Origen: <strong>{{ fighter.country }}</strong></h3>
          <h3>Estilo de lucha: <strong>{{ fighter.style }}</strong></h3>

        </div>
      </div>
      <div class="col-md-6 col-12 text-center">
        <img src="{{ fighter.img }}" alt="Imagen del jugador" class="modal-image" />
      </div>
    </div>  <div class="modal-actions">
            <button class="btn bg-danger" (click)="onNoClick()">Cerrar</button>
          </div>
  </div>
</div>
