<!-- <div id="consola" class= "container-fluid flex-column rounded justify-content-center  text-center">
<app-border-yellow></app-border-yellow>
</div> -->

<body>
  <div class="gameboy-container mt-5">
    <img src="./../../../../assets/pokedex/gb.nobotones.png" alt="Game Boy" class="gameboy-image">
    <div class="screen-container rounded">
      <iframe src="./pokedex/home" frameborder="0" class="content-frame"></iframe>
    </div>
    <div class="buttons-container row">
      <div class="dpad col-6">
        <button id="verticales" class="dpad-up">▲</button>
        <button id="horizontales" class="dpad-left">◄</button>
        <button id="verticales" class="dpad-down">▼</button>
        <button id="horizontales" class="dpad-right">►</button>
      </div>
      <div class="ab-buttons col-6">
        <div class="row buttonscircle">
          <button class="button-b col-6 mt-4">B</button>
          <button class="button-a col-6">A</button>


        </div>
      </div>
    </div>
  </div>

</body>
