

<div class="container">
  <h2 class="mt-3">Encuentra el municipio que buscas</h2>

  <div class="row mb-3">
    <div>
      <label for="selectCommunity" class="form-label">Selecciona Comunidad Autónoma:</label>
      <select id="selectCommunity" class="form-select" [(ngModel)]="selectedCommunity" (change)="onSelectCommunity()">
        <option value="" disabled selected>Seleccione...</option>
        <option *ngFor="let community of communities" [value]="community.acom_name">{{ community.acom_name }}</option>
      </select>
    </div>
  </div>

  <div class="row mb-3" *ngIf="selectedCommunity">
    <div class="col-md-6">
      <label for="selectProvince" class="form-label">Selecciona Provincia:</label>
      <select id="selectProvince" class="form-select" [(ngModel)]="selectedProvince" (change)="onSelectProvince()">
        <option value="" disabled selected>Seleccione...</option>
        <option *ngFor="let province of provinces" [value]="province.prov_name">{{ province.prov_name }}</option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="selectedProvince">
    <div class="col-md-6">
      <label for="selectMunicipality" class="form-label ">Selecciona Municipio:</label>
      <select id="selectMunicipality" class="form-select" [(ngModel)]="selectedMunicipality" (change)="onSelectMunicipality(selectedMunicipality)">
        <option *ngFor="let municipality of municipalities" [ngValue]="municipality">{{ municipality.mun_name }}</option>
      </select>
    </div>
  </div>
</div>
