body{
  background: linear-gradient(to bottom, #3a74fd, #50d9fc, #48eea9, #ea80ff);
  height: 100vh;
}
h1 {
  text-align: center;
  color: #000000;
  margin-top: 5%;
}
p {
  color: #000000;
  text-align: center;
}
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: auto;

  height: auto;
  margin-bottom: 15%;
  margin-top: 5%;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #0056b3;
}

.icono {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


#animacion {
  width: 35%;
  max-width: 200px;
  height: auto;
}
@media (max-width: 750px) {
  #animacion {
    display: none;
  }
}


footer {
  margin-top: 10%;
}
