body {

  background-image: linear-gradient(to right, #992424, #1d1212, #000000, #0c0808, #0f0f5a);
  height: 100vh;
}

.cardbody{
  margin-right: 5%;
  margin-left: 5%;
}

.tarjeta{
  position: relative;
  width: 300px;
  height: 300px;
}

.fondoplayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
}

.player-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 375;
  z-index: 2;
}
.player-img:hover {
  transform: scale(1.1); /* Aumenta el tamaño al hacer hover */
}
