
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Jersey+20&display=swap");


body{
  background: linear-gradient(to bottom, #3a74fd, #50d9fc, #48eea9, #ea80ff);
}

#Encabezado {
  background-image: url(../..//assets/Main/fondo.jpg);
  background-size: cover;
}
#Encabezado h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  background-image: linear-gradient(
    to right,
    #fcfcfb,
    hsl(201, 93%, 82%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 40px #f3f3f3;

  /* Ajustes responsive */
  @media (max-width: 999px) {
    font-size: 35px; /* Reducir el tamaño de fuente en pantallas más pequeñas */
  }
  @media (max-width: 850px) {
    font-size: 32px; /* Reducir el tamaño de fuente en pantallas más pequeñas */
  }

  @media (max-width: 768px) {
    font-size: 30px; /* Reducir el tamaño de fuente en pantallas más pequeñas */
  }

  @media (max-width: 576px) {
    font-size: 25px; /* Reducir aún más el tamaño de fuente en pantallas más pequeñas */
  }
}

#Encabezado img {
  max-width: 90%;
  height: auto;
  display: block;
}


#fotoprincipal {
  animation-duration: 4s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}




@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#redes {
  margin-bottom: 60px;
  animation: appear 1s ease-out forwards;
  animation-delay: 0s; /* Retraso de 3 segundos */
}
#redes a{
  margin-left: 10px;
  color: black;
  }

 h2{

  font-family: "Orbitron", sans-serif;
  font-size: 50px;
  margin-bottom: 100px;

}


/* Tarjetas */
.card {
  padding: 0;
  border-radius: 15px;
}



.card-header {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}



@media (max-width: 650px) {
  .h2otros {
    font-size: 35px;
  }
}


#otros {
  font-family: "Anton", sans-serif;
  font-size: 20px;
}



/*tamaño imagenes camisetas*/

.camiseta {
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
  border-radius: 5%;
}



.text-uppercase span {
  display: block;
}

.text-uppercase span:first-child {
  margin-bottom: 10px;
}

@media (max-width: 750px) {
  #Encabezado img#fotoprincipal {
    display: none;
  }
}
