
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  border: 2px solid red;
}

.modal-image {
  width: 200px;
  max-width: 100%;
  height: auto;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}



.modal-image.typeimg {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-radius: 5%;
}

/* Estilos específicos para cada tipo */
img[src*='grass'] {
  padding: 10px;
  background-color: #70e933;
}

img[src*='fire'] {
  padding: 10px;
  background-color: #f56f10;
}
img[src*='water'] {
  padding: 10px;
  background-color: #6890f0;
}

img[src*='bug'] {
  padding: 10px;
  background-color: #4e8334;
}

img[src*='normal'] {
  padding: 10px;
  background-color: #575757;
}
img[src*='electric'] {
  padding: 10px;
  background-color: #f7f32e;
}

img[src*='ground'] {
  padding: 10px;
  background-color: #924c13;
}

img[src*='fairy'] {
  padding: 10px;
  background-color: #fd87ea;
}
img[src*='fighting'] {
  padding: 10px;
  background-color: #cc1d06;
}

img[src*='psychic'] {
  padding: 10px;
  background-color: #8d2980;
}

img[src*='rock'] {
  padding: 10px;
  background-color: #6d4511;
}
img[src*='ghost'] {
  padding: 10px;
  background-color: #39176e;
}

img[src*='ice'] {
  padding: 10px;
  background-color: #5ea0ec;
}

img[src*='dragon'] {
  padding: 10px;
  background-color: #3103ff8a;
}
img[src*='dark'] {
  padding: 10px;
  background-color: #000000;
}

img[src*='steel'] {
  padding: 10px;
  background-color: #7a7a7a;
}

img[src*='poison'] {
  padding: 10px;
  background-color: #a710ff;
}
img[src*='flying'] {
  padding: 10px;
  background-color: #7ed6ff;
}


