/* Estilos generales */
body {
  background-color: aquamarine;
  height: 100vh;
}

img {
  height: auto;
}

h3 {
  margin: 0;
  font-size: 190%;
}

h5 {
  margin: 5px;
  font-size: 120%;
}

p {
  font-size: 110%;
}

/* Media query para pantallas de hasta 1000px de ancho */
@media (max-width: 1000px) {
  h3 {
    font-size: 170%; /* Ajusta el tamaño de fuente de h3 */
  }
  h5 {
    font-size: 110%; /* Ajusta el tamaño de fuente de h5 */
  }
  p {
    font-size: 100%; /* Ajusta el tamaño de fuente de p */
  }
}

/* Media query para pantallas de hasta 450px de ancho */
@media (max-width: 450px) {
  h3 {
    font-size: 150%; /* Ajusta el tamaño de fuente de h3 */
  }
  h5 {
    font-size: 100%; /* Ajusta el tamaño de fuente de h5 */
  }
  p {
    font-size: 90%; /* Ajusta el tamaño de fuente de p */
  }
}

/* Media query para pantallas de hasta 400px de ancho */
@media (max-width: 400px) {
  h3 {
    font-size: 140%; /* Ajusta el tamaño de fuente de h3 */
  }
  h5 {
    font-size: 90%; /* Ajusta el tamaño de fuente de h5 */
  }
  p {
    font-size: 80%; /* Ajusta el tamaño de fuente de p */
  }
}
