
@import url( https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap);



body {
  background-color: aquamarine;
  height: 100vh;
  font-family: "Pixelify Sans"
}


.boxtext{
  background-color: white;
  border: 5px solid rgb(2, 33, 80);

}

h1{
  font-size: 2rem;
  margin-top: 10px;
  font-family: "Pixelify Sans"
}

p{
  font-size: 1.5rem;
}
