<body>
  <div class="container text-center">
    <div class="justify-content-center">
      <div >
        <img src="../../../../assets/pokedex/pages-assets/profesorOak.png" alt="" class="img-fluid mt-3">
        <div>

          <div class="boxtext rounded mt-3">
            <h1>¡Bienvenido!</h1>
            <p>Has entrado en la Pokedex App, una aplicación donde podras encontrar informacion de tus pokemons favoritos</p>
            <a class="btn animate__animated animate__pulse animate__infinite btn-primary mt-3 mb-3" href="./pokedex/login">pulsa aquí para continuar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
