<body>
  <!-- header -->
  <nav class="navbar ">
    <div class="container-fluid" id="barra">
      <span class="navbar-brand mb-0">Population-Map App <img src="../../../../assets/map/gif.gif" alt=""></span>
      <button id="home" class="btn btn-outline-light" onclick="history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
        </svg>
      </button>
    </div>
  </nav>

  <!-- componentes -->
  <div class="container mt-5">
    <div class="row">
      <div class="rounded-2 col-md-4 col-12">
        <search-map (municipalitySelected)="onMunicipalitySelected($event)"></search-map>
      </div>
      <div class="rounded-2 col-md-8 col-12">
        <shows-maps  [selectedMunicipality]="selectedMunicipality"></shows-maps>
      </div>
    </div>
  </div>

</body>
