body {
  background-image: linear-gradient(to right, #992424, #1d1212, #000000, #0c0808, #0f0f5a);
  height: 100vh;
}

.card {
  background-color: #222;
  color: white;
  border: 2px solid black;
  transition: background-color 0.3s, color 0.3s;
}

.card:hover {
  background-color: #777;
  color: #000000;
}


#delete{
  color: red;

}
