
.navbar-brand {
  font-size: 1.5rem; /* Tamaño del texto del título */
}

body{
  background-image: url(../../../assets/TaskList/fondotasklist.jpg);
  background-size: cover;
  height: 100vh;
}



  #box1, #box2, #box3 {
    border-radius: 5%;
  }



#box1 {
  background-color: #fdfdfd;
  border: 3px solid black;
  margin: 10px;
  text-align: center;
  color: #2A2B2A;
}

#box2 {
  background-color: #ffffff;
  border: 3px solid black;
  margin: 10px;
  text-align: center;
  color: rgb(1, 177, 39);
}

#box3 {
  background-color: #ffffff;
  border: 3px solid black;
  margin: 10px;
  text-align: center;
  color: #c90404;
}

#reset {
  height: 25%;
  width: 25%;

}
