<body>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-brand">Task List App <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
      <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z"/>
    </svg></span>
    <button class="btn btn-dark mr-2" (click)="goBack()">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
      </svg></button>
  </div>
</nav>


<div id="fondotasklist">
  <div class="container flex mt-5">
    <div class="row justify-content-center">
      <div id="box1" class="col-md-3 col-sm-12 mt-3">
        <h2 class="mt-3 text-center">Total</h2>
        <task-show
          [taskList]="taskList"
          (onDelete)="tasklistService.onDeleteTaskById($event)"
        >
        </task-show>

        <task-add (onNewTask)="tasklistService.onNewTask($event)"></task-add>
      </div>
      <div id="box2" class="col-md-3 col-sm-12 mt-3">
        <h2 class="mt-3 text-center">Hechas</h2>
        <div class="container">
          <task-show
            [taskList]="taskDone"
            (onDelete)="tasklistService.onDeleteTaskById($event)"
          >
          </task-show>
        </div>
      </div>
      <div id="box3" class="col-md-3 col-sm-12 mt-3">
        <h2 class="mt-3 text-center">No realizadas</h2>
        <task-show
          [taskList]="taskDoing"
          (onDelete)="tasklistService.onDeleteTaskById($event)">
        </task-show>
      </div>
    </div>
    <div class="text-center" style="margin-top: 50px;">
      <img src="../../../assets/TaskList/reset.png" id="reset" alt="boton reset" (click)="resetTasks()">
    </div>
  </div>
</div>


</body>
