
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

button
{font-family: "Rubik Glitch", system-ui ;
}


body{
  background-image: url(../../../../assets/Sessions/MatrixFondo.gif);
  height: 100vh;
}

a{
  color: #11ff09;
}

.container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
background-color: black;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  background-color: black;
}

label {
  margin-bottom: 5px;
  color: rgb(2, 255, 2);
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

}

button {
  background-color: #11ff09;
  color: black;
  font-size: 25px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
