<body>

  <app-navBar></app-navBar>


  <div id="container1" class="row mt-3">

    <div id="column1" class="col-md-6  justify-content-center align-items-center">

      <img id="img1" src="../../../../assets/token/contenedor1.jpg" alt="" class="mt-3">

    </div>
    <div class="col-md-6  justify-content-center align-items-center">
      <img id="img2" src="../../../../assets/token/titulo.png" alt="" class="mt-3">
      <p id="description" class="mx-3 mt-3">Bienvenido/a al portal dedicado a proporcionar información detallada sobre
        los luchadores del renombrado juego de lucha Tekken. Independientemente de tu rol, tendrás acceso a una extensa
        variedad de datos relacionados con los personajes. Desde perfiles detallados hasta estadísticas de combate, este
        portal ofrece una experiencia completa para los entusiastas del juego.

        Dependiendo de tu función, podrás acceder a una amplia gama de información sobre los luchadores existentes o
        incluso obtener privilegios adicionales, como la capacidad de contribuir a la creación de nuevos personajes,
        entre otras funcionalidades avanzadas.

        Explora nuestra plataforma y sumérgete en el emocionante universo de Tekken, donde cada luchador tiene su
        historia y estilo de combate único.
      </p>

    </div>

  </div>
  <hr>


  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active"
        aria-current="true"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p class="opacity-75">Visita nuestras redes sociales.</p>
            <p><a class="btn btn-lg btn-primary"
                href="https://twitter.com/TEKKEN?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Ver <svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter"
                  viewBox="0 0 16 16">
                  <path
                    d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15" />
                </svg></a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item active carousel-item-start">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Web Oficial</h1>
            <p>Página Oficial</p>
            <p><a class="btn btn-lg btn-success" href="https://es.bandainamcoent.eu/tekken/tekken-8">Ir a sitio web
                oficial</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-item-next carousel-item-start">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Ver videos relaccionados.</h1>
            <p>Canal Oficial Youtube</p>
            <p><a class="btn btn-lg btn-danger" href="https://www.youtube.com/channel/UC6y98o30kK3yaVwTF-CmH7g"><svg
                  xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-youtube"
                  viewBox="0 0 16 16">
                  <path
                    d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z" />
                </svg></a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <div class="container" id="container3">

    <hr class="featurette-divider">

    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-md-7">
          <h2 class="featurette-heading  lh-5">Luchador del mes</h2>
          <p class="lead">Un huracán de piernas y acrobacias azotó el King of Iron Fist Tournament. Eddy Gordo, el maestro de capoeira, dominó el ring con un torbellino de ataques fluidos y elegantes.</p>
          <p class="lead">Ni un solo oponente pudo igualar su agilidad y precisión. Su característico "Beijo da Morte" (Beso de la Muerte) se convirtió en la pesadilla de todos los luchadores.</p>
          <p class="lead">En la final, Eddy se enfrentó a un titán de la fuerza bruta. Con un movimiento rápido como el rayo, esquivó cada ataque y contraatacó con una ráfaga de patadas devastadoras.</p>
        </div>
        <div class="col-md-5 d-flex align-items-center justify-content-center">
          <img id="img3" src="../../../../assets/token/foto3.jpg" alt="" class="img-fluid rounded-3 shadow-1">
        </div>
      </div>

      <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Descubre el anime en <span
              class="text-bg-danger rounded">Netflix</span></h2>

          <p class="lead">En las montañas de Japón, un torneo legendario está a punto de comenzar. El King of Iron Fist
            Tournament, una competencia brutal donde luchadores de todo el mundo se enfrentan por la gloria y el poder.

            Jin Kazama, un joven atormentado por su pasado, se ve obligado a participar en el torneo para proteger a su
            madre y vengar la muerte de su abuelo.

            A lo largo de su camino, Jin se enfrentará a poderosos rivales, cada uno con sus propias motivaciones y
            secretos.
        </div>
        <div class="col-md-5 order-md-1 d-flex align-items-center justify-content-center">
          <div style="width: 100%; max-width: 700px;">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/Dkujx_5jRmI" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">
    <div id="container4" class="container justify-content-center align-items-center">

      <div style="text-align: center;">
        <img id="img4" src="../../../../assets/token/best.png" alt="Image description">
      </div>


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card shadow-sm">
            <img class="rounded" src="../.././../../assets/token/best1.jpg" alt="">
            <div class="card-body">
              <p class="card-text">
                King es un luchador completo que combina la fuerza bruta con la elegancia, la determinación con la compasión, y
                la habilidad con el carisma. Es un personaje único e inspirador que se ha ganado un lugar especial en el corazón de los jugadores de Tekken.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4">
          <div class="card shadow-sm">
            <img src="../.././../../assets/token/best2.jpg" alt="">
            <div class="card-body">
              <p class="card-text">
                Ling Xiaoyu brilla en Tekken por su agilidad acrobática y su engañoso estilo de lucha. Sus movimientos rápidos y evasivos
                la hacen difícil de atrapar, mientras que sus ataques con múltiples ángulos y buenos frames la convierten en una pesadilla para la defensa.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4">
          <div class="card shadow-sm">
            <img src="../.././../../assets/token/best3.jpg" alt="">
            <div class="card-body">
              <p class="card-text">
                Yoshimitsu domina en Tekken gracias a su arsenal impredecible y lleno de sorpresas. Su espada y sus movimientos acrobáticos ofrecen un abanico de opciones engañosas,
                lo que obliga a los rivales a estar constantemente alerta y adaptarse a su ritmo caótico.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

<hr>

    <div class="container justify-content-center align-items-center mt-5 mb-1" >

      <div class="character__illustration justify-content-center align-items-center" >
        <img src="https://static.bandainamcoent.eu/high/tekken/tekken-8/02-characters/new-gallery/Wide/devil-jin_new.png" width="854" height="511" alt="tekken8-devil-jin" loading="lazy" typeof="foaf:Image">

       </div>

    </div>

  </div>

  <footer class="bg-dark text-white py-4">

        <div class="text-center">
          <div id="footer-text" class="d-flex align-items-center justify-content-center">
            <span>©  Tokken-3</span>

          </div>
        </div>

  </footer>



</body>
