

@import url( https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap);



.infiteScroll
{
  display: flex;
}


h1{
  font-family: "Pixelify Sans";
}

img{
  width: 250px;
  height: auto;
}

#pokemons{


  background-size:250px;
  position: center;
  background-repeat: no-repeat;
}
